body {
    background-color: var(--blue-dark);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 25vh;
}

img {
    height: 200px;
}

h1{
    font-size: 1.1em;
    color: var(--white);
}

h2 {
    font-size: 1em;
    font-style:italic;
    color: var(--white);
    font-weight: 400;
    transition: .2s ease;
}

h2:hover {
    color: var(--accent-lightblue);
}

main {
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 70%;
}

input {
    text-transform: uppercase;
    font-weight: bold;
    all: unset;
}

input[type='text'] {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: .9em;
    background: var(--input-type-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #0f1f3c;
    text-indent: 40px;
    font-weight: bold;
}

input#username {
    background-image: url('../../assets/img/Customer.png');
    background-repeat: no-repeat;
    background-position: 10px;
}


input#password {
    background-image: url('../../assets/img/Lock.png');
    background-repeat: no-repeat;
    background-position: 10px;
}

input[type='submit']{
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: var(--button-color);
    font-weight: bold;
    color: var(--white);
    margin-top: 45px;
}

p {
    font-size: 1em;
    font-style:italic;
    color: var(--white);
    font-weight: 400;
}

.register__anchor {
    text-decoration: underline;
    transition: .2s ease;
}


.register__anchor:hover {
    color: var(--accent-lightblue);
}
