body {
    background-color: var(--blue-dark);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 50vh;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    padding: 20px;
}

p, button {
    color: white;
}

.container__button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: column;
    justify-content: center;
    margin-top: 40px
}

button {
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 310px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
    transition: all .2s;
}

button:hover{
    background-color: #192539c9;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}






