
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --blue-dark: #304261;
    --blue-medium: #4e5d77;
    --blue-light: #2b3e5d;
    --accent-yellow: #f2a541;
    --accent-lightblue: #69c9fd;
    --button-color: #192539;
    --input-type-text-color: #B5BAC1;
    --white: #FFF;
    --black: #000

}

:root{
    --font-primary: 'Roboto', sans-serif;
    --headers-font: 'Poppins', sans-serif;
}


